@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Raleway, system-ui, sans-serif;
}

/* styles/global.css */

/* Global Styles */
/* Admin Specific Styles */
.admin-container {
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
}

/* Admin Page Headers */
.admin-container h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 1rem;
  text-align: center;
}

.admin-container form {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.admin-container input,
.admin-container textarea {
  width: 100%;
  padding: 0.8rem;
  margin: 1rem 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
}

.admin-container button {
  background-color: #007bff;
  color: white;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.admin-container button:hover {
  background-color: #0056b3;
}

.admin-container button:disabled {
  background-color: #ccc;
}

/* Admin Lists */
.admin-container ul {
  list-style-type: none;
  margin-top: 2rem;
}

.admin-container li {
  background-color: #ffffff;
  padding: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.admin-container h3 {
  font-size: 1.5rem;
  color: #333;
}

.admin-container p {
  font-size: 1rem;
  color: #666;
  margin-top: 0.5rem;
}

.admin-container img {
  max-width: 150px;
  border-radius: 8px;
  margin-top: 1rem;
}

:root {
  --navbar-height: 78px; /* Adjust based on your design */
}

nav {
  height: var(--navbar-height);
  margin-bottom: 0;
}

/*Loader*/
.loader2 {
  width: 48px;
  height: 48px;
  border: 3px dotted #e8e8e8;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation2 2s linear infinite;
}

.loader2::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px dotted #052440;
  border-style: solid solid dotted;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack2 1s linear infinite;
  transform-origin: center center;
}

@keyframes rotation2 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack2 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}